* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('bg.png') no-repeat; 
  background-size: cover;
  color: #fff;
}

.wrapper {
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px; 
  text-align: center;
  max-width: 500px;
  width: 100%;
}


h1 {
  margin-bottom: 20px;
}

.name-container {
  margin-bottom: 20px;
}

.picked-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
  color: #fff; 
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}

.mode-toggle {
  margin-top: 20px;
}

label {
  margin-right: 10px;
}

.dark-mode {
  background: url('board.jpeg') no-repeat; 
  background-size: cover;
  color: #fff; 
}

.dark-mode .wrapper {
  color: #fff; 
}
